---
import Layout from "../../layouts/Default.astro";
import Aside from "../../components/Aside.astro";
import QuoteNow from "../../components/QuoteNow.astro";
const title = "Building Cleaning - Believe Cleaning";
---

<Layout title={title}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services-int.webp"
      data-position="center 30%"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".35"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Building Cleaning
               </h1>

               <QuoteNow />
            </div>
         </div>
      </div>
   </section>

   <!-- About -->

   <section class="section">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-8">
                  <div class="content">
                     <figure class="image m-0">
                        <img
                           src="/img/services/building-cleaning.webp"
                           alt=""
                        />
                     </figure>

                     <br />

                     <h4 class="title is-4 is-spaced">
                        We're here to ensure your building shines inside and
                        out. With our expert team and attention to detail, your
                        space will always make a great impression. Let's create
                        a cleaner, healthier environment together!
                     </h4>

                     <h4 class="title is-5">
                        Professional cleaning on buildings is important to
                        maintain a healthy, safe, and presentable environment
                        for occupants and visitors. Some reasons include:
                     </h4>

                     <ol class="normal-list">
                        <li>
                           Health and Safety: Regular cleaning helps prevent the
                           spread of germs, bacteria, and viruses, promoting a
                           healthier environment for occupants. This is
                           especially important in shared spaces like offices,
                           where many people gather daily
                        </li>
                        <li>
                           Appearance: A clean building creates a positive first
                           impression on visitors and clients. It enhances the
                           aesthetic appeal of the property, contributing to its
                           overall attractiveness and value.
                        </li>
                        <li>
                           Longevity: Regular maintenance and cleaning can
                           extend the lifespan of building materials and
                           surfaces, saving money on costly repairs or
                           replacements in the long run.
                        </li>
                        <li>
                           Indoor Air Quality: Proper cleaning removes dust,
                           allergens, and pollutants from indoor spaces,
                           improving air quality and creating a more comfortable
                           and productive environment for occupants.
                        </li>
                        <li>
                           Compliance: Certain industries and facilities are
                           subject to specific cleanliness standards and
                           regulations. Professional cleaning helps ensure
                           compliance with these requirements, avoiding
                           penalties or legal issues.
                        </li>
                     </ol>

                     <p>
                        Overall, professional cleaning plays a vital role in
                        maintaining the cleanliness, health, and functionality
                        of buildings, contributing to the well-being and
                        satisfaction of occupants.
                     </p>

                     <h4 class="subtitle is-5 has-text-centered">
                        What Our Service Includes
                     </h4>

                     <div class="two-cols">
                        <p>
                           <b>General Areas</b>
                        </p>

                        <ul class="normal-list">
                           <li>
                              Dust all surfaces, including desks, tables,
                              shelves, and window sills.
                           </li>
                           <li>
                              Wipe down and sanitize high-touch surfaces such as
                              door handles, light switches, and elevator
                              buttons.
                           </li>
                           <li>
                              Vacuum carpets and rugs, and mop hard floors.
                           </li>
                           <li>Empty and sanitize trash bins.</li>
                           <li>
                              Clean and polish glass surfaces, mirrors, and
                              entryway doors.
                           </li>
                           <li>
                              Straighten and organize common areas such as
                              lobbies and waiting rooms.
                           </li>
                        </ul>

                        <p>
                           <b>Restrooms</b>
                        </p>

                        <ul class="normal-list">
                           <li>
                              Clean and sanitize toilets, sinks, faucets, and
                              countertops.
                           </li>
                           <li>
                              Refill soap dispensers and restock paper towels
                              and toilet paper.
                           </li>
                           <li>
                              Sweep and mop floors, paying attention to corners
                              and around fixtures.
                           </li>
                           <li>
                              Wipe down mirrors and replenish any necessary
                              supplies.
                           </li>
                           <li>Empty and sanitize trash bins.</li>
                        </ul>

                        <p>
                           <b>Kitchen/Break Room</b>
                        </p>

                        <ul class="normal-list">
                           <li>
                              Clean and sanitize sinks, countertops, and
                              appliances.
                           </li>
                           <li>
                              Wipe down microwave, refrigerator, and coffee maker
                              surfaces.
                           </li>
                           <li>
                              Sweep and mop floors, paying attention to spills and
                              crumbs.
                           </li>
                           <li>Empty and sanitize trash bins.</li>
                           <li>Clean and organize cabinets and shelves.</li>
                        </ul>

                        <p>
                           <b>Meeting Rooms/Conference Areas</b>
                        </p>
                        
                        <ul class="normal-list">
                           <li>
                              Dust and wipe down tables, chairs, and other
                              furniture.
                           </li>
                           <li>
                              Vacuum carpets and rugs, and mop hard floors.
                           </li>
                           <li>
                              Clean and sanitize presentation equipment, such as
                              whiteboards or projectors.
                           </li>
                           <li>Empty and sanitize trash bins.</li>
                           <li>
                              Arrange chairs and tables as needed for upcoming
                              meetings or events.
                           </li>
                        </ul>

                        <p>
                           <b>Exterior Areas</b>
                        </p>

                        <ul class="normal-list">
                           <li>Sweep or power wash entryways and sidewalks.</li>
                           <li>
                              Remove any debris or litter from exterior grounds.
                           </li>
                           <li>
                              Clean and polish outdoor signage and fixtures.
                           </li>
                           <li>
                              Inspect and clean exterior windows and glass
                              doors.
                           </li>
                           <li>
                              Trim any overgrown vegetation or landscaping.
                           </li>
                        </ul>
                     </div>

                     <p>
                        This checklist can be customized based on the specific
                        needs and requirements of each building or client.
                     </p>
                  </div>

                  <p>
                     <iframe
                        src="https://player.vimeo.com/video/707335341?h=c656db9f23&title=0&byline=0&portrait=0"
                        width="100%"
                        height="450"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen></iframe>
                  </p>
               </div>
               <div class="column is-4">
                  <Aside />
               </div>
            </div>
         </div>
      </div>
   </section>
</Layout>

<style>
   .two-cols {
      columns: 2;
      margin-bottom: 2rem;
   }
</style>
