---
import Layout from "../../layouts/Default.astro";
import Aside from "../../components/Aside.astro";
import QuoteNow from "../../components/QuoteNow.astro";
const title = "About - Believe Cleaning";
---

<Layout title={title}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services-int.webp"
      data-position="center 30%"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".35"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Post-Construction Cleaning
               </h1>

               <QuoteNow />
            </div>
         </div>
      </div>
   </section>

   <!-- About -->

   <section class="section">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-8">
                  <div class="content">
                     <figure class="image m-0 mb-5">
                        <img src="/img/services/service-construction-cleaning.webp" alt="" />
                     </figure>

                     <h3 class="title is-3">Moving The Dust Out</h3>

                     <p>
                        Have you just finished a home renovation job and are now
                        faced with a cluttered mess? Having to clean up after a
                        home build can be even more stressful than the build
                        itself. Cleaning up after a building project is a big
                        part of getting your property ready to live in. We are a
                        maid service that provides non-toxic and eco-friendly
                        floor-to-ceiling house deep cleaning.
                     </p>

                     <p>
                        We provide a wide range of post-construction services to
                        meet your requirements. Our cleaning experts have all
                        the necessary tools, experience, and techniques to leave
                        your property appearing like nothing ever happened for a
                        fast tidy-up or a more complete, deep clean.
                     </p>

                     <p>
                        Our post-construction cleaning services are the most
                        comprehensive and high-quality in the area, including:
                     </p>

                     <ul class="normal-list">
                        <li>
                           Keep your home clean by wiping off any surfaces that
                           have been covered with debris or other contaminants.
                        </li>
                        <li>
                           Thoroughly clean all of the room’s surfaces and
                           woodwork and fixtures
                        </li>
                        <li>
                           Squeaky clean baseboards, window frames, and door
                           frames.
                        </li>
                        <li>Interior masonry cleaning.</li>
                        <li>Removal of all window and glass decals.</li>
                     </ul>

                     <p>
                        Removal of dust and dirt from window blinds, cabinets,
                        and closets.
                     </p>

                     <p>
                        Your new tenants will benefit from our comprehensive
                        cleaning efforts for years to come because of our great
                        attention to detail. We provide various scheduling
                        options to accommodate your needs if you have a busy
                        timetable.
                     </p>

                     <h4 class="title is-4">Why Us?</h4>

                     <p>
                        We are dedicated to delivering the best cleaning
                        services in the region. We make it a priority to leave
                        every place we clean spotless. We excel in providing
                        complete cleanings to ensure that your consumers are in
                        clean, healthy environments.
                     </p>

                     <p>
                        We use the highest quality cleaning tools to ensure the
                        task is done correctly and quickly. Our site managers
                        conduct regular inspections to ensure that every task is
                        completed to your rigorous standards.
                     </p>

                     <p>
                        All of our efforts are geared toward ensuring your
                        ultimate satisfaction. When we do our work, we do it to
                        the same high standards you set for yourself. We pay
                        attention to every little thing that makes your
                        construction site safe and welcoming.
                     </p>
                  </div>
               </div>

               <div class="column is-4">
                  <Aside />
               </div>
            </div>
         </div>
      </div>
   </section>
</Layout>
