---
import Layout from "../../layouts/Default.astro";
import Aside from "../../components/Aside.astro";
import QuoteNow from "../../components/QuoteNow.astro";
const title = "Deep Cleaning - Believe Cleaning";
const description = `Experience the ultimate refresh for your space with our Believe deep cleaning services. From removing stubborn grime to sanitizing hard-to-reach areas, we go above and beyond to restore cleanliness and freshness.`
---

<Layout title={title} description={description}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services-int.webp"
      data-position="center 30%"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".35"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Standard Deep Cleaning
               </h1>

               <QuoteNow />
            </div>
         </div>
      </div>
   </section>

   <!-- About -->

   <section class="section">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-8">
                  <div class="content">
                     <figure class="image m-0">
                        <img src="/img/services/service-deep-cleaning.webp" alt="" />
                     </figure>

                     <h3 class="title is-3">
                        Our standard deep cleaning is designed to ensure
                        quality.
                     </h3>

                     <p>
                        <b>Standard Deep Clean</b> – Bring your home back to a maintained
                        condition with our “Standard Deep Clean”. Our Standard Deep
                        Clean is the initial cleaning service, before moving into
                        a Standard Clean maintenance program. It can also be scheduled
                        as a one time service (think: Spring cleaning or pre-holiday
                        cleaning!). Has it been too long since your home or office
                        has been on a consistent cleaning program? Is soap scum building
                        up in your shower? Are dust bunnies and pet hair taking over?
                        We suggest our Standard Deep Clean to bring your home up
                        to a throughly maintained condition.
                     </p>

                     <h4 class="title is-4">
                        Enjoy the benefits of efficient deep cleaning.
                     </h4>

                     <p>
                        Thanks to our proven methods and quality supplies, we’ll
                        make your home dust and germ-free. We’ll be on time and
                        ready to handle every task on your extensive checklist.
                        Once we’re done, you can count on:
                     </p>

                     <ul class="normal-list">
                        <li>Extra free time to do whatever you feel like.</li>
                        <li>Fewer exhausting errands to tackle.</li>
                        <li>Better, professional-grade precision.</li>
                        <li>Decreased dust and germ accumulation.</li>
                        <li>Improved appearance of your space.</li>
                     </ul>

                     <p>
                        Our well-trained and well-equipped cleaning crew
                        delivers the following services:
                     </p>
                     <ul class="normal-list">
                        <li>Cleaning estimates for free</li>
                        <li>No-hassle guarantee</li>
                        <li>Advanced approaches and procedures</li>
                        <li>Personalized cleaning schedules</li>
                     </ul>

                     <p>
                        <iframe
                           src="https://player.vimeo.com/video/707335341?h=c656db9f23&title=0&byline=0&portrait=0"
                           width="100%"
                           height="450"
                           frameborder="0"
                           allow="autoplay; fullscreen; picture-in-picture"
                           allowfullscreen></iframe>
               
                     </p>
                  </div>
               </div>

               <div class="column is-4">
                  <Aside />
               </div>
            </div>
         </div>
      </div>
   </section>
</Layout>
