---
import Layout from "../../layouts/Default.astro";
import Aside from "../../components/Aside.astro";
import QuoteNow from "../../components/QuoteNow.astro";
const title = "About - Believe Cleaning";
const description = `Elevate your living space with our Believe comprehensive house cleaning services. From top to bottom, we leave no corner untouched, ensuring a spotless environment for you and your family to enjoy.`
---

<Layout title={title} description={description}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services-int.webp"
      data-position="center 30%"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".35"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  House Cleaning Services
               </h1>

               <QuoteNow />
            </div>
         </div>
      </div>
   </section>

   <!-- About -->

   <section class="section">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-8">
                  <div class="content">
                     <figure class="image m-0">
                        <img src="/img/services/service-house-cleaning.webp" alt="" />
                     </figure>

                     <h3 class="title is-3">
                        A Cleaner House Is Only a Call Away
                     </h3>

                     <p>
                        Having a clean home without harmful toxins and irritants
                        is a beautiful feeling. Believe Cleaning Services
                        provides eco-friendly and high-quality house cleaning
                        services. With our house cleaning service, you can be
                        assured that your family, pets, and the environment will
                        be safe while your home is being cleaned.
                     </p>
                     <p>
                        We use eco-friendly cleaners; now, you won’t have to pay
                        for a cleaning company to use their harsh, aggressive
                        products. In the same way that we’re dedicated to
                        preserving the environment, we’re also dedicated to
                        making sure you’re happy. Each residence is treated with
                        the utmost respect by our specialized cleaning crews.
                     </p>

                     <h4 class="title is-4">How do we operate?</h4>

                     <p>
                        <u>Book Your Cleaning Services Online</u><br />
                        Our registration system is easy to use, whether you book
                        online or by phone.
                     </p>
                     <p>
                        <u>Enjoy your life to the fullest.</u><br />
                        Life can get hectic at times. Take a vacation, work, or catch
                        a movie; we’ll clean up after you!
                     </p>
                     <p>
                        <u>Return to a Freshened Home</u><br />
                        Enter a residence that smells great and is immaculately clean.
                        It’s an incredible sensation.
                     </p>
                  </div>

                  <h4 class="title is-4">
                     We offer our top-notch, high-quality house cleaning
                     services. Our services include:
                  </h4>

                  <ul class="normal-list">
                     <li>Cleaning Up The Bathrooms</li>
                     <li>
                        Cleansing and sanitizing all fixtures and surfaces in
                        the bathroom.
                     </li>
                     <li>
                        We use separate vacuums to get the deepest clean
                        possible.
                     </li>
                     <li>Furniture Cleaning</li>
                     <li>
                        Upright and side-to-to-side dusting; thorough cleaning;
                     </li>
                     <li>Cleaning Up The Kitchen</li>
                     <li>
                        Cleaning of countertops, sinks, the exterior of
                        appliances and cabinets.
                     </li>
                     <li>A Hard Floor Cleaning</li>
                     <li>
                        Vacuum followed by handwashing (bathrooms, kitchens, and
                        foyers) to achieve the best results.
                     </li>
                     <li>Customized Cleaning Services</li>
                     <li>
                        Believe Cleaning Services can take care of all your
                        cleaning requirements, whether routine or one-time.
                     </li>
                  </ul>

                  <br />

                  <div class="columns">
                     <div class="column">
                        <div class="content">
                           <h4 class="h4 title is-4">
                              Cleaning That You Can See
                           </h4>
                           <p>
                              Your home is more than simply a place to live;
                              it’s a place where you can chill, enjoy, and spend
                              time doing the things you value. Our cleaning
                              services at Believe Cleaning Services go above and
                              beyond the basics to give your house a fresh
                              breath of life and make your life easier. Whether
                              you need daily housekeeping, regular cleanings, or
                              seasonal services, you can count on our skilled
                              staff to deliver exceptional service.
                           </p>
                        </div>
                     </div>
                     <div class="column">
                        <h4 class="h4 title is-4">
                           What to expect from Believe cleaning services?
                        </h4>

                        <ul class="normal-list">
                           <li>Extensive knowledge</li>
                           <li>certified professionals</li>
                           <li>Satisfaction guaranteed</li>
                           <li>Free cleaning quotes</li>
                           <li>Time-tested methods</li>
                           <li>Eco-friendly Cleaning supplies</li>
                        </ul>
                     </div>

                  </div>
                  
                  <p>
                     <iframe
                        src="https://player.vimeo.com/video/707335341?h=c656db9f23&title=0&byline=0&portrait=0"
                        width="100%"
                        height="450"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen></iframe>
            
                  </p>
               </div>

               <div class="column is-4">
                  <Aside />
               </div>
            </div>
         </div>
      </div>
   </section>

</Layout>
