---
import Layout from "../../layouts/Default.astro";
import Aside from "../../components/Aside.astro";
import QuoteNow from "../../components/QuoteNow.astro";
const title = "Maid Services - Believe Cleaning";
const description = `Let our Believe maid services bring luxury and convenience to your doorstep. From routine cleaning to special requests, our skilled team ensures a pristine environment tailored to your needs.`
---

<Layout title={title} description={description}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services-int.webp"
      data-position="center 30%"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".35"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Maid Service
               </h1>

               <QuoteNow />
            </div>
         </div>
      </div>
   </section>

   <!-- About -->

   <section class="section">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-8">
                  <div class="content">
                     <figure class="image m-0">
                        <img src="/img/services/service-maid-clean.webp" alt="" />
                     </figure>

                     <h3 class="title is-3">
                        Cleaning Services You Can Count On
                     </h3>

                     <h4 class="subtitle is-5">
                        Relax & Let Us Do the Cleaning
                     </h4>

                     <p>
                        Let us handle the house cleaning so you can focus on
                        more important things. Then relax and enjoy the peace of
                        mind that comes with knowing that your entire house has
                        been thoroughly cleaned by a crew you can rely on. The
                        cleaning services provided by Believe Cleaning Services
                        are comprehensive, consistent, and individualized. Let
                        us know if you need a specific service, want to adjust
                        your cleaning schedule, or if you want to skip some area
                        of your home! We’ll do everything we can to meet your
                        needs and even go above and above.
                     </p>

                     <p>
                        Cleaning services from Believe Cleaning Services can be
                        scheduled weekly, bi-weekly, monthly, or one-time.
                        Believe Cleaning Services cleans your home from top to
                        bottom with each visit, making sure every surface is
                        free of debris and germs. We use the latest technology
                        and carefully formulated solutions to clean thoroughly
                        to ensure no detail is missed.
                     </p>

                     <h4 class="title is-4">
                        We Take Care of Everything for You
                     </h4>

                     <p>
                        Each area in your house has its distinct features,
                        necessitating cleaning procedures tailored to the space.
                        It doesn’t matter how big, or small your home is; we’re
                        ready to tackle it all.
                     </p>

                     <p>
                        <iframe
                           src="https://player.vimeo.com/video/707335341?h=c656db9f23&title=0&byline=0&portrait=0"
                           width="100%"
                           height="450"
                           frameborder="0"
                           allow="autoplay; fullscreen; picture-in-picture"
                           allowfullscreen></iframe>
               
                     </p>
                  </div>
               </div>

               <div class="column is-4">
                  <Aside />
               </div>
            </div>
         </div>
      </div>
   </section>




</Layout>
