---
import Layout from "../../layouts/Default.astro";
import Aside from "../../components/Aside.astro";
import QuoteNow from "../../components/QuoteNow.astro";
const title = "About - Believe Cleaning";
---

<Layout title={title}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services-int.webp"
      data-position="center 30%"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".35"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Maid Service
               </h1>

               <QuoteNow />
            </div>
         </div>
      </div>
   </section>

   <!-- About -->

   <section class="section">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-8">
                  <div class="content">
                     <figure class="image m-0">
                        <img src="/img/service-maid-clean.webp" alt="" />
                     </figure>

                     <h3 class="title is-3">
                        Cleaning Services You Can Count On
                     </h3>

                     <h4 class="subtitle is-5">
                        Relax & Let Us Do the Cleaning
                     </h4>

                     <p>
                        Let us handle the house cleaning so you can focus on
                        more important things. Then relax and enjoy the peace of
                        mind that comes with knowing that your entire house has
                        been thoroughly cleaned by a crew you can rely on. The
                        cleaning services provided by Believe Cleaning Services
                        are comprehensive, consistent, and individualized. Let
                        us know if you need a specific service, want to adjust
                        your cleaning schedule, or if you want to skip some area
                        of your home! We’ll do everything we can to meet your
                        needs and even go above and above.
                     </p>

                     <p>
                        Cleaning services from Believe Cleaning Services can be
                        scheduled weekly, bi-weekly, monthly, or one-time.
                        Believe Cleaning Services cleans your home from top to
                        bottom with each visit, making sure every surface is
                        free of debris and germs. We use the latest technology
                        and carefully formulated solutions to clean thoroughly
                        to ensure no detail is missed.
                     </p>

                     <h4 class="title is-4">
                        We Take Care of Everything for You
                     </h4>

                     <p>
                        Each area in your house has its distinct features,
                        necessitating cleaning procedures tailored to the space.
                        It doesn’t matter how big, or small your home is; we’re
                        ready to tackle it all.
                     </p>
                  </div>
               </div>

               <div class="column is-4">
                  <Aside />
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section has-background-primary">
      <div class="container">
         <div class="columns is-vcentered">
            <div class="column is-7">
               <div class="title-wrapper has-text-right">
                  <h2 class="title is-2 light-text is-spaced">
                     Save Time. Save Money<br /> Save Yourself!
                  </h2>
                  <h3 class="subtitle is-5 light-text">
                     Life's Too Short to Clean Your Own Home
                  </h3>
               </div>
            </div>

            <div class="column is-4">
               <a
                  href="tel:+1646-408-3334"
                  class="button secondary-btn raised is-large rounded"
               >
                  <span class="icon">
                     <i class="iconify" data-icon="fa6-solid:phone"></i>
                  </span>
                  <span>Call Us Now!</span>
               </a>
            </div>
         </div>
      </div>
   </section>

   <section class="section is-medium pt-6">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-6">
                  <h3 class="title is-3">Our Mission</h3>
                  <div class="content">
                     <p>
                        “Believe Cleaning Services only uses environmentally
                        friendly cleaning solutions to achieve the best results
                        for our customers while also advancing our collective
                        desire for a cleaner, healthier planet.”
                     </p>
                  </div>
                  <div class="divider"></div>
                  <br />
                  <h3 class="title is-3">Our Vision</h3>
                  <div class="content">
                     <p>
                        Our goal at Believe Cleaning Services is to begin now
                        by:
                        <ul>
                           <li>
                              Developing a trustworthy service in a niche of the
                              cleaning services marketplace,
                           </li>
                           <li>
                              Receiving testimonials from our customers who
                              recommend our company’s work to others, and
                           </li>
                           <li>
                              Leveraging those references to organically grow
                              our fulfillment resources in both the domestic and
                              corporate markets.
                           </li>
                        </ul>
                     </p>
                  </div>
               </div>

               <div class="column is-6">
                  <h3 class="title is-3">
                     Your One-Stop Shop for Residential & Commercial Cleaning
                     Services
                  </h3>
                  <div class="content">
                     <h4 class="subtitle">High-Quality Services</h4>
                     <p>
                        We treat cleaning very seriously at Believe, and we
                        strive to provide the best possible service to our
                        client’s homes and businesses. We prioritize providing
                        you with the assistance of the highest level that
                        completely meets your needs and expectations. When your
                        home or business looks most pleasing, your guests notice
                        and appreciate it.
                     </p>
                     <h4 class="subtitle">Assurance of a Greater Clean</h4>
                     <p>
                        We’re here to make sure you’re happy. We provide a 100%
                        Satisfaction Guarantee for every visit to ensure your
                        satisfaction.
                     </p>
                  </div>
               </div>
            </div>

            <div class="columns">
               <div class="column has-text-centered">
                  <h3 class="title">Honoring Your Space</h3>
                  <p>
                     It’s our goal to treat your property with the utmost
                     respect. We respect your property as if it were our own.
                     Cleaning Needs in New York City? Choose Believe Cleaning
                     Services. Many of us find ourselves in a situation where we
                     can’t keep our homes or workplaces clean, neat, and
                     pleasant due to a lack of time, but Believe Cleaning
                     services make it simple to resolve these issues.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
</Layout>
