---
import Layout from "../../layouts/Default.astro";
import Aside from "../../components/Aside.astro";
import QuoteNow from "../../components/QuoteNow.astro";
const title = "Move In-Out Cleaning - Believe Cleaning";
const description = `Make your move stress-free with our move-in and move-out cleaning services. From deep cleaning to sanitizing, we ensure a fresh start for your new space or a seamless transition for your old one.`
---

<Layout title={title} description={description}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services-int.webp"
      data-position="center 30%"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".35"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Move-In / Move Out Cleaning
               </h1>

               <QuoteNow />
            </div>
         </div>
      </div>
   </section>

   <!-- About -->

   <section class="section">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-8">
                  <div class="content">
                     <figure class="image m-0">
                        <img src="/img/services/service-move-cleaning.webp" alt="" />
                     </figure>

                     <h3 class="title is-3">
                        Trust Us to Eliminate the Stress of Your Moving
                     </h3>

                     <p>
                        One of the most challenging experiences in a person’s
                        life is moving. If you’ve ever relocated or are
                        currently doing so, you may not be surprised to learn
                        this. There’s a lot more to it than merely moving your
                        things around. Before you can settle into your new home,
                        there are numerous activities and processes that you
                        must go through. One of them does not have to be
                        cleaned. Believe Cleaning Services can help you with the
                        home you’re moving out of and the one you’re moving
                        into.
                     </p>

                     <p>
                        Moving in or moving out usually necessitates cleaning of
                        the following items:
                     </p>

                     <ul class="normal-list">
                        <li>Cleaning and vacuuming the floors</li>
                        <li>Keeping the baseboards clean</li>
                        <li>The cleaning of all surfaces and fixtures.</li>
                        <li>Cleaning of kitchen appliances and cupboards</li>
                        <li>Cleaning of bathroom fixtures</li>
                     </ul>

                     <p>
                        That’s a tough job when you have to spend time moving
                        into your new home. To help you get settled smoothly,
                        Believe Cleaning Services can take care of your move-in
                        or move-out cleaning.
                     </p>

                     <h4 class="subtitle is-5">
                        Are You Moving? Let Us Take Care of the Rest.
                     </h4>

                     <p>
                        You’ve already completed the difficult task of
                        organizing, wrapping, and packing. Even if you have
                        movers to aid, moving can still be complex and
                        challenging. Even though you’ve completed your move,
                        you’re not done yet! You’ve still got cleaning to do!
                        Only Believe Cleaning can provide when getting the job
                        done right. We ensure your satisfaction. If you are not
                        satisfied, we will do our best to make things right for
                        you.
                     </p>

                     <h4 class="subtitle is-5">
                        Services for Tenants and owners
                     </h4>

                     <p>
                        Dust, dirt, and grime are no match for our deep cleaning
                        methods beyond simple vacuuming and dusting. We can
                        deodorize your fridge and clean the interior of your
                        stoves. We’ll take care of the heavy lifting so you can
                        focus on other aspects of moving.
                     </p>

                     <p>
                        Our well-trained and well-equipped cleaning crew
                        delivers the following services:
                     </p>

                     <ul class="normal-list">
                        <li>Cleaning estimates for free</li>
                        <li>No-hassle guarantee</li>
                        <li>Advanced approaches and procedures</li>
                        <li>Personalized cleaning schedules</li>
                     </ul>

                     <p>
                        <iframe
                           src="https://player.vimeo.com/video/707335341?h=c656db9f23&title=0&byline=0&portrait=0"
                           width="100%"
                           height="450"
                           frameborder="0"
                           allow="autoplay; fullscreen; picture-in-picture"
                           allowfullscreen></iframe>
               
                     </p>
                  </div>
               </div>

               <div class="column is-4">
                  <Aside />
               </div>
            </div>
         </div>
      </div>
   </section>
</Layout>
