---
import Layout from "../../layouts/Default.astro";
import Aside from "../../components/Aside.astro";
import QuoteNow from "../../components/QuoteNow.astro";
const title = "Restaurant Cleaning - Believe Cleaning";
---

<Layout title={title}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services-int.webp"
      data-position="center 30%"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".35"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Restaurant Cleaning
               </h1>

               <QuoteNow />
            </div>
         </div>
      </div>
   </section>

   <!-- About -->

   <section class="section">
      <div class="container">
         <div class="content-wrapper">
            <div class="columns">
               <div class="column is-8">
                  <div class="content">
                     <figure class="image m-0">
                        <img src="/img/services/restaurant-cleaning.webp" alt="" />
                     </figure>

                     <br />

                     <h4 class="title is-4 is-spaced">
                        We're dedicated to helping restaurant owners maintain
                        pristine environments for your establishment. With our
                        expertise and attention to detail, we ensure your space
                        is sparkling clean, so you can focus on what you do best
                        – serving delicious meals and creating memorable
                        experiences for your customers.
                     </h4>

                     <h4 class="title is-5">
                        Professional cleaning in restaurants is essential for
                        several reasons:
                     </h4>

                     <ol class="normal-list">
                        <li>
                           Health and Safety: Maintaining a clean environment is
                           crucial for preventing the spread of foodborne
                           illnesses and ensuring the safety of both customers
                           and staff.
                        </li>
                        <li>
                           Compliance: Restaurants are subject to health and
                           safety regulations and inspections. Regular
                           professional cleaning helps ensure compliance with
                           these regulations, avoiding fines or closure.
                        </li>
                        <li>
                           Reputation: A clean restaurant reflects positively on
                           its reputation. Customers are more likely to return
                           and recommend a restaurant that is clean and
                           well-maintained.
                        </li>
                        <li>
                           Pest Control: Professional cleaning helps prevent
                           pest infestations by removing food residue and
                           eliminating hiding places for pests like rodents and
                           insects.
                        </li>
                        <li>
                           Extended Equipment Lifespan: Regular cleaning of
                           kitchen equipment and facilities can extend their
                           lifespan, saving money on repairs and replacements in
                           the long run.
                        </li>
                     </ol>

                     <p>
                        Overall, professional cleaning not only ensures a safe
                        and hygienic environment but also contributes to the
                        overall success and reputation of a restaurant.
                     </p>

                     <h4 class="subtitle is-5 has-text-centered">
                        What Our Service Includes
                     </h4>

                     <div class="two-cols">
                        <p>
                           <b>Daily tasks</b>
                        </p>

                        <ul class="normal-list">
                           <li>
                              Wipe down and sanitize all food preparation
                              surfaces, including countertops, cutting boards,
                              and equipment.
                           </li>

                           <li>
                              Clean and sanitize sinks, faucets, and drain
                              areas.
                           </li>
                           <li>
                              Sweep and mop floors in dining, kitchen, and
                              restroom areas.
                           </li>
                           <li>Empty and sanitize trash bins.</li>
                           <li>
                              Clean and sanitize restroom fixtures, including
                              toilets, sinks, and mirrors.
                           </li>
                           <li>
                              Wipe down tables, chairs, and booths in dining
                              areas.
                           </li>
                           <li>
                              Clean and sanitize high-touch surfaces such as
                              door handles, light switches, and menus.
                           </li>
                           <li>
                              Dust and wipe down shelving units, display cases,
                              and decorative items.
                           </li>
                           <li>
                              Refill soap dispensers and restock paper towels
                              and toilet paper in restrooms.
                           </li>
                           <li>
                              Check and refill cleaning supplies as needed.
                           </li>
                        </ul>

                        <p>
                           <b>Weekly tasks</b>
                        </p>

                        <ul class="normal-list">
                           <li>
                              Deep clean kitchen equipment such as ovens,
                              grills, fryers, and refrigerators.
                           </li>
                           <li>
                              Clean and sanitize ceiling fans, vents, and light
                              fixtures.
                           </li>
                           <li>
                              Vacuum carpets and upholstery in dining areas.
                           </li>
                           <li>Clean windows and glass surfaces.</li>
                           <li>
                              Scrub and sanitize tile grout in kitchen and
                              restroom areas.
                           </li>
                           <li>Polish stainless steel surfaces.</li>
                        </ul>

                        <p>
                           <b>Monthly tasks</b>
                        </p>
                        <ul class="normal-list">
                           <li>
                              Clean and sanitize behind kitchen equipment and
                              under appliances.
                           </li>
                           <li>
                              Deep clean and sanitize storage areas, including
                              shelves and walk-in refrigerators/freezers.
                           </li>
                           <li>Inspect and clean ventilation systems.</li>
                           <li>
                              Clean and polish wood surfaces, furniture, and
                              fixtures.
                           </li>
                           <li>
                              Launder and replace mop heads and cleaning cloths.
                           </li>
                        </ul>

                        <p>
                           <b>Quarterly/Bi-Anual Tasks</b>
                        </p>
                        <ul class="normal-list">
                           <li>
                              Schedule professional carpet and upholstery
                              cleaning.
                           </li>
                           <li>
                              Deep clean and sanitize exhaust hoods and
                              ductwork.
                           </li>
                           <li>
                              Conduct a thorough inspection of all areas for
                              maintenance issues or repairs needed.
                           </li>
                        </ul>
                     </div>
                  </div>

                  <p>
                     This checklist can be customized based on the specific
                     needs and requirements for your establishment.
                  </p>

                  <p>
                     <iframe
                        src="https://player.vimeo.com/video/707335341?h=c656db9f23&title=0&byline=0&portrait=0"
                        width="100%"
                        height="450"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen></iframe>
                  </p>
               </div>
               <div class="column is-4">
                  <Aside />
               </div>
            </div>

         </div>
      </div>
   </section>
</Layout>

<style>
   .two-cols {
      columns: 2;
      margin-bottom: 2rem;
   }
</style>
