/* ==========================================================================
Color variables
========================================================================== */

$fullhd-enabled: false;
$body-size: 16px;

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;
$trans-white: #f2f2f2a5;

$primary: #0071BC;
$secondary: #39B54A;
$accent: #F39200;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #3a495f;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$primary-light: #99d6ff;
$secondary-light: #68d476;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
// $orange: #F39200;
$placeholder: #cecece;
$dark-grey: #49494b;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;

//fonts
$font: 'Inter Variable', sans-serif !important;
$font-heading: 'Nunito Variable', sans-serif !important;

//Shadow
$light-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);