---
import Layout from "../layouts/Default.astro";
const title = "Services - Believe Cleaning";
---

<Layout title={title}>


<section class="section">
   <div class="container">
      <figure class="image">
         <img src="/img/404.webp" alt="No encontrado" width="750">
      </figure>

      <div class="block has-text-centered my-6">
         <a href="/" class="button is-primary is-large is-rounded is-outlined">Return to website</a>
      </div>
   </div>
</section>
</Layout>

<style>
   .image img {
      max-width: 750px;
      margin: auto;
   }
</style>
