---
import Layout from "../layouts/Default.astro";
const title = "Book Now - Believe Cleaning";
---

<Layout title={title}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services_.webp"
      data-position="center"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".79"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold light-text">Book Now</h1>
               <!-- <h3 class="subtitle is-5 light-text">- Free Consultation -</h3> -->
            </div>
         </div>
      </div>
   </section>

   <div class="section is-medium">
      <div class="container">
         <div class="columns is-centered">
            <div class="column is-8">
               
               <div class="content">
                  <h2 class="is-2">
                     We will be up and running soon and you can make your cleaning service reservation.
                  </h2>
               </div>
               
            </div>
         </div>
      </div>
   </div>
</Layout>
