---
import Layout from "../layouts/Default.astro";
import ContactForm from "../components/ContactForm.astro";
const title = "Contact - Believe Cleaning";
const description = `Ready to experience exceptional cleaning services? Reach out to our friendly team today via our contact page. Whether you have questions, need a quote, or want to schedule a cleaning appointment, we're here to help`
---

<Layout title={title} description={description}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-contact.webp"
      data-position="center"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".75"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold light-text">Contact</h1>
               <h3 class="subtitle is-5 light-text">- Free consult -</h3>

               <!-- <a class="button cta primary-btn raised rounded gelatine">
                  Quote now
               </a> -->
            </div>
         </div>
      </div>
   </section>

   <ContactForm />

</Layout>
