---
import Layout from "../layouts/Default.astro";
const title = "Gallery - Believe Cleaning";
const description = `Step into a world of cleanliness and order with our cleaning gallery. Explore stunning after transformations showcasing our meticulous attention to detail. Witness the power of our cleaning expertise and envision the possibilities for your own space.`
---

<Layout title={title} description={description}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services_.webp"
      data-position="center bottom"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".75"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold light-text">Gallery</h1>
               <h3 class="subtitle is-5 light-text">A sample of our work</h3>

               <a class="button cta primary-btn raised rounded gelatine">
                  Quote now
               </a>
            </div>
         </div>
      </div>
   </section>

   <div class="section huge-pb">
      <div class="container">
         <div class="tile is-ancestor box" id="my-gallery">
            <div class="tile is-4 is-vertical">
               <a
                  href="/img/gallery/gallery-cleaning (1).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (1).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (2).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (2).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (7).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (7).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (8).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (8).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (9).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (9).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (10).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (10).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (11).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (11).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (12).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (12).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (13).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (13).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (30).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (30).webp" />
               </a>

               <a
                  href="/img/gallery/gallery-cleaning (31).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (31).webp" />
               </a>
            </div>

            <div class="tile is-4 is-vertical">
               <a
                  href="/img/gallery/gallery-cleaning (3).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (3).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (4).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (4).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (14).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (14).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (15).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (15).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (16).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (16).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (17).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (17).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (18).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (18).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (19).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (19).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (20).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (20).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (21).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (21).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (32).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (32).webp" />
               </a>
            </div>

            <div class="tile is-4 is-vertical">
               <a
                  href="/img/gallery/gallery-cleaning (5).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (5).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (6).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (6).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (22).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (22).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (23).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (23).webp" />
               </a><a
                  href="/img/gallery/gallery-cleaning (24).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (24).webp" />
               </a><a
                  href="/img/gallery/gallery-cleaning (25).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (25).webp" />
               </a><a
                  href="/img/gallery/gallery-cleaning (26).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (26).webp" />
               </a><a
                  href="/img/gallery/gallery-cleaning (27).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (27).webp" />
               </a><a
                  href="/img/gallery/gallery-cleaning (28).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (28).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (29).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (29).webp" />
               </a>
               <a
                  href="/img/gallery/gallery-cleaning (33).webp"
                  class="tile is-child"
                  data-fslightbox
               >
                  <img src="/img/gallery/gallery-cleaning (33).webp" />
               </a>
            </div>
         </div>
      </div>
   </div>
</Layout>

<script>
   import FsLightbox from "fslightbox";

   var lightbox = new FsLightbox();
   // lightbox.props.sources = ["/Image.jpg", "/Video.mp4"];
</script>

<style>
   .tile img {
      padding: 0.5rem;
   }
</style>
