---
import Layout from "../layouts/Default.astro";
import ServicesCols from "../components/ServicesCols.astro";
const title = "Services - Believe Cleaning";
---

<Layout title={title}>
   <section
      class="section is-medium has-background-image"
      data-background="img/banner-services_.webp"
      data-position="center bottom"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".75"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold light-text">Gallery</h1>
               <h3 class="subtitle is-5 light-text">A sample of our work</h3>

               <a class="button cta primary-btn raised rounded gelatine">
                  Quote now
               </a>
            </div>
         </div>
      </div>
   </section>

   <div class="section is-medium">
      <div class="container">
         <div class="columns">
            <div class="column">
               <img src="img/gallery/believe-cleaning-pics (1).webp" class="modal-trigger" data-modal="pic-modal"/>
               <img src="img/gallery/believe-cleaning-pics (2).webp" class="modal-trigger" data-modal="pic-modal"/>
               
            </div>
            <div class="column">
               <img src="img/gallery/believe-cleaning-pics (5).webp" class="modal-trigger" />
               <img src="img/gallery/believe-cleaning-pics (7).webp" class="modal-trigger" />
               
            </div>
            <div class="column">
               <img src="img/gallery/believe-cleaning-pics (6).webp" class="modal-trigger" />
               <img src="img/gallery/believe-cleaning-pics (4).webp" class="modal-trigger" />
               <img src="img/gallery/believe-cleaning-pics (3).webp" class="modal-trigger" />

            </div>
         </div>
      </div>
   </div>

   <div id="pic-modal" class="modal animated">
      <div class="modal-background modal-dismiss"></div>
      <div class="modal-content">
         <div class="flex-card gallery">
            <figure class="image">
               <img id="img-modal" src="" alt="">
            </figure>
         </div>
      </div>
      <button class="modal-close is-large modal-dismiss" aria-label="close"
      ></button>
   </div>
</Layout>

<script>
   const pics = document.querySelectorAll('.modal-trigger')

   const imgModal = document.querySelector('#img-modal')

   const picModal = document.querySelector('#pic-modal')

   pics.forEach(img => img.addEventListener('click', () => {
      let src = img.getAttribute('src')
      imgModal.setAttribute('src', src)
      picModal.classList.add('fadeInUp')
   }))
</script>

<style>

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
</style>
