---
import Layout from "../layouts/Default.astro";
import Testimonials from "../components/Testimonials.astro";
import ServicesCarousel from "../components/ServicesCarousel.astro";
import "flickity/dist/flickity.min.css";
const title = "Home";
---

<Layout title={title}>

	<section
		class="hero is-fullheight is-grey"
		data-background="img/banner-home.webp"
		data-position="bottom center"
	>
		<div class="hero-body">
			<div class="container">
				<div class="columns is-vcentered is-centered">
					<div class="column is-10 has-text-centered">
						<h1 class="title is-1 is-bold is-spaced">
							Professional Cleaning Services
						</h1>
						<h2 class="subtitle is-5 is-muted">
							Don't stress. We'll handle the mess. At Believe Residential
							& Commercial Cleaning, <br /> we go above and beyond to satisfy
							our customers' cleaning needs.
						</h2>

						<div class="buttons is-justify-content-center">

							<a class="button cta primary-btn raised rounded outline"
								href="tel:646-408-3334">
								Call Now
							</a>
							<a class="button cta secondary-btn raised rounded outline"
								href="/free-quote">
								Get Free Quote
							</a>
							<a class="button cta primary-btn raised rounded outline"
								href="#">
								Book Us now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- PROMO -->

	<section class="section is-medium">
		<div class="container">
			<div class="has-text-centered">
				<h2 class="title is-1">Cleaning Services That Shine</h2>
				<h3 class="subtitle is-5 is-muted">With great Responsability</h3>
				<div class="divider is-centered"></div>
			</div>

			<div class="feature-cards content-wrapper">
				<div class="columns">
					<div class="column is-6">
						<div class="feature-card is-bordered has-text-centered">
							<div class="card-title">
								<h4>Residential & Commercial</h4>
							</div>
							<div class="card-text">
								<p class="is-size-5 my-4">
									Join our social media to get 50% off on your second
									cleaning service
								</p>
								<p class="is-size-5 my-4">
									Open on weekdays 8AM to 6PM - Saturday 8AM to 4PM
								</p>
							</div>
							<div class="card-action">
								<a
									href="#"
									class="button primary-btn raised rounded mr-2"
								>
									<span class="icon">
										<i class="iconify" data-icon="fa6-brands:facebook"
										></i>
									</span>
									<span>Facebook</span>
								</a>
								<a href="#" class="button primary-btn raised rounded">
									<span class="icon">
										<i
											class="iconify"
											data-icon="fa6-brands:instagram"></i>
									</span>
									<span>Instagram</span>
								</a>
							</div>
						</div>
					</div>
					<div class="column is-6">
						<div class="feature-card is-bordered has-text-centered">
							<div class="card-title">
								<h4>Get a free quote</h4>
							</div>
							<div class="card-text">
								<p class="is-size-5 my-4">
									<br />
									By calling or email at:<br />
									<a href="tel:646-408-3334" target="_blank"
										>(646) 408-3334</a
									>
									<a href="mailto:info@believecleaning.com"
										>info@believecleaning.com</a
									>
								</p>
								<p class="is-size-5 my-4">&nbsp;</p>
							</div>
							<div class="card-action">
								<a href="#" class="button primary-btn raised rounded">
									<span class="icon">
										<i class="iconify" data-icon="fa6-brands:whatsapp"
										></i>
									</span>
									<span>Whatsapp</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>










	<!-- SERVICES CARRUSEL -->

	<ServicesCarousel />











	<section
		class="section is-medium has-background-image"
		data-background="img/bg-whychoose.webp"
		data-position="center"
	>
		<div class="overlay" data-color="#0f466b" data-color-opacity=".75"></div>

		<div class="container">
			<div class="title-wrapper has-text-centered">
				<h2 class="title is-2 light-text is-spaced">Why Choose Us</h2>
				<h3 class="subtitle is-5 light-text">
					Professionalism, courtesy, and efficiency are all hallmarks of
					our team. We take great pride in making your home and workplace
					pleasant.
				</h3>

				<div class="buttons is-justify-content-center">
					<a
						href="tel:+1646-408-3334"
						class="button secondary-btn raised is-large rounded"
					>
						<span class="icon">
							<i class="iconify" data-icon="fa6-solid:phone"></i>
						</span>
						<span>Call Us Now!</span>
					</a>

					<!-- <a href="mailto:info@bleievecleaning.com" class="button secondary-btn raised is-large rounded">
						<span class="icon">
							<i class="iconify" data-icon="fa6-regular:envelope"></i>					
						</span>
						<span>Email Us</span>
					</a> -->
				</div>
			</div>
		</div>
	</section>











	<!-- About us -->


	<section class="section is-medium">
		<div class="container">
			<div class="columns is-vcentered app-side">
				<div class="column is-5">
					<div class="has-text-centered">
						<figure class="image">
							<img src="/img/Believe-Eulalia.webp" />
						</figure>
					</div>
				</div>
				<div class="column is-6 is-offset-1">
					<h3 class="title is-3">About Us</h3>
					<h4 class="subtitle is-6">Who we are</h4>
					<div class="content">
						<p>
							The Believe team is continually working hard to make your
							life easier. So, whether it's cleaning your office,
							cleaning your home, preparing your home for a move-in & out
							cleaning, or cleaning up before or after a party, we've got
							you covered! At believe we believe in always do the right
							thing for our customers and our staff to satisfy everyone.
							As a result, we take great pleasure in being able to tackle
							any size home or business project you may have for us.
						</p>
						<p>
							Give believe cleaning service a call for an estimate and
							set up a time that works for your busy schedule if you need
							professional cleaning. Our experts are experienced,
							reliable, and committed to providing the finest service
							possible.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Why choose us -->

	<Testimonials />

	<section class="section section-light-grey is-medium">
		<div class="container">
			<div class="title-wrapper has-text-centered">
				<h2 class="title is-2 is-spaced">Drop us a line or two</h2>
				<h3 class="subtitle is-5 is-muted">We'd love to hear from You</h3>
				<div class="divider is-centered"></div>
			</div>

			<div class="content-wrapper">
				<div class="columns">
					<div class="column is-6 is-offset-3">
						<form>
							<div class="columns is-multiline">
								<div class="column is-6">
									<input
										class="input is-medium"
										type="text"
										placeholder="First Name *"
									/>
								</div>
								<div class="column is-6">
									<input
										class="input is-medium"
										type="text"
										placeholder="Phone *"
									/>
								</div>
								<div class="column is-12">
									<input
										class="input is-medium"
										type="text"
										placeholder="Email *"
									/>
								</div>
								<div class="column is-12">
									<textarea
										class="textarea"
										rows="6"
										placeholder="Message"></textarea>
								</div>
								<div class="column is-12">
									<div class="form-footer has-text-right mt-10">
										<button
											class="button cta is-large primary-btn form-button raised is-clear rounded"
											>Send Message</button
										>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>


<script>

   import Flickity from "flickity";

	document.addEventListener('astro:page-load', () => {
		let flkty = new Flickity(".service-carousel", {
			draggable: true,
			contain: true,
			freeScroll: true,
			wrapAround: true,
		});

		let flkty2 = new Flickity(".testi-carousel", {
			draggable: true,
			contain: true,
			freeScroll: true,
			pageDots: false,
			wrapAround: true,
		});
	});

  
</script>
