---
import Layout from "../layouts/Default.astro";
const title = "Services - Believe Cleaning";
---

<Layout title={title}>
   <section
      class="section is-medium has-background-image"
      data-background="/img/banner-services_.webp"
      data-position="center"
   >
      <div class="overlay" data-color="#0f466b" data-color-opacity=".79"></div>

      <div class="container">
         <div class="columns is-vcentered is-centered">
            <div class="column is-10 has-text-centered">
               <h1 class="title is-1 is-bold light-text">Quote Now</h1>
               <h3 class="subtitle is-5 light-text">- Free Consultation -</h3>
            </div>
         </div>
      </div>
   </section>

   <div class="section is-medium">
      <div class="container">
         <div class="columns is-centered">
            <div class="column is-8">
               <iframe
                  src="https://docs.google.com/forms/d/e/1FAIpQLSfR3xswWARPRGTbOuX1ojynzh0GGwBL4vYC_v6c41DAy9jG3w/viewform?embedded=true"
                  width="100%"
                  height="4900"
                  frameborder="0"
                  marginheight="0"
                  marginwidth="0">Cargando…</iframe
               >
            </div>
         </div>
      </div>
   </div>
</Layout>
