<aside class="menu">
   <ul class="menu-list aside-list">
      <li><a href="/services/house-cleaning">House Cleaning</a></li>
      <li><a href="/services/deep-cleaning">Deep cleaning</a></li>
      <li><a href="/services/maid-service">Maid Service</a></li>
      <li><a href="/services/pressure-cleaning">Pressure Cleaning</a></li>
      <li><a href="/services/move-inout-cleaning">Move-In / Out Cleaning</a></li>
      <li><a href="/services/rental-cleaning">Rental Property Cleaning</a></li>
      <li><a href="/services/construction-cleaning">Post-Construction Cleaning</a></li>
      <li><a href="/services/event-cleaning">Special Event Cleaning</a></li>
   </ul>
</aside>
