<!-- Back To Top Button -->
<div
  x-data="initBackToTop()"
  x-on:scroll.window="scroll($event)"
  @click="goTop($event)"
  id="backtotop"
>
  <a href="javascript:" :class="{
    'visible': scrolled,
    '': !scrolled
}"
  >
  <div
								class="icon-wrap is-icon-reveal"
							>
								<i class="iconify" data-icon="fa6-solid:chevron-up"></i>
							</div>
</a>
</div>
