<footer class="footer footer-dark">
	<div class="container">
		<div class="columns">
			<div class="column">
				<div class="footer-logo">
					<img
						src="/img/logo/believe-cleaning-logo-solo-dark.webp"
						width="250"
						height=""
					/>
				</div>
			</div>

			<div class="column">
				<div class="footer-column">
					<div class="footer-header">
						<h3>Contact Us</h3>
					</div>
					<ul class="link-list">
						<li>
							<a href="mailto:info@believecleaning.com">
								<span class="icon">
									<i class="iconify" data-icon="fa6-regular:envelope"
									></i>
								</span>
								<span>info@believecleaning.com</span>
							</a>
						</li>
						<li>
							<a href="tel:+1646-408-3334">
								<span class="icon">
									<i class="iconify" data-icon="fa6-solid:phone"></i>
								</span>
								<span>646-408-3334</span>
							</a>
						</li>
						<!-- <li>
							<a href="https://maps.app.goo.gl/2qu5udqXbrCZJPkE8?g_st=ic">
								<span class="icon">
									<i class="iconify" data-icon="fa6-solid:location-dot"></i>
								</span>
								<span>4205 111th St, Queens, NY 11368</span>
							</a>
						</li> -->
					</ul>
				</div>
			</div>

			<div class="column">
				<div class="footer-column">
					<div class="footer-header">
						<h3>Follow Us</h3>
						<nav class="level is-mobile">
							<div class="level-left">
								<a
									class="level-item"
									href="https://www.facebook.com/believecleaningnyc"
								>
									<span class="icon">
										<i
											class="iconify"
											data-icon="fa6-brands:facebook-f"></i>
									</span>
								</a>
								<a
									class="level-item"
									href="https://www.instagram.com/believecleaning"
								>
									<span class="icon">
										<i
											class="iconify"
											data-icon="fa6-brands:instagram"></i>
									</span>
								</a>
								<a
									class="level-item"
									href="https://www.tiktok.com/@believecleaning"
								>
									<span class="icon">
										<i class="iconify" data-icon="fa6-brands:tiktok"
										></i>
									</span>
								</a>
								<a
									class="level-item"
									href="https://yelp.to/F7D3sBAs3t"
								>
									<span class="icon">
										<i class="iconify" data-icon="fa6-brands:yelp"
										></i>
									</span>
								</a>
							</div>
						</nav>
					</div>

					<div class="content mt-3">
						<p>
							Working Hours 8:00 AM to 6:00 PM <br />
							Working Days Monday - Saturday<br />
							Closed: 4th July, Thanksgiving & Christmas
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
