<a href="/" class="navbar-item is-secondary"> Home</a>
<a href="/about" class="navbar-item is-secondary"> About</a>
<div class="navbar-item has-dropdown is-hoverable">
   <a class="navbar-link" @click="dropDownServices = ! dropDownServices">
      Services</a
   >
   <div
      class="navbar-dropdown"
      :style="dropDownServices  && {display: 'block'} "
   >
      <a href="/services/house-cleaning" class="navbar-item"> House Cleaning</a>
      <a href="/services/deep-cleaning" class="navbar-item"> Deep Cleaning</a>
      <a href="/services/maid-service" class="navbar-item"> Maid Service</a>
      <a href="/services/pressure-cleaning" class="navbar-item">
         Pressure Cleaning</a
      >
      <a href="/services/move-inout-cleaning" class="navbar-item">
         Move-In / Out Cleaning</a
      >
      <a href="/services/rental-cleaning" class="navbar-item">
         Rental Property Cleaning</a
      >
      <a href="/services/construction-cleaning" class="navbar-item">
         Post-Construction Cleaning</a
      >
      <a href="/services/event-cleaning" class="navbar-item">
         Special Event Cleaning</a
      >

      <div
         class="nested dropdown"
         @click="dropDownComercial = ! dropDownComercial; console.log(dropDownComercial)"
      >
         <a class="navbar-link">
            <span>Commercial Cleaning</span>
         </a>

         <div
            class="dropdown-menu"
            id="dropdown-menu"
            role="menu"
            :style="dropDownComercial && {display: 'block'} "
         >
            <div class="dropdown-content">
               <a href="/services/office-cleaning" class="dropdown-item"> Office</a>
               <a href="/services/restaurant-cleaning" class="dropdown-item"> Restaurant</a>
               <a href="/services/building-cleaning" class="dropdown-item"> Building</a>
            </div>
         </div>
      </div>
   </div>
</div>
<a href="/gallery" class="navbar-item is-secondary"> Gallery</a>
<a href="/faqs" class="navbar-item is-secondary"> FAQs</a>
<a href="/contact" class="navbar-item is-secondary"> Contact</a>

<style>
   .nested.dropdown {
      display: block;
   }
   .nested.dropdown:hover > .dropdown-menu {
      display: block;
   }
   .nested.dropdown .dropdown-menu {
      top: -12px;
      margin-left: 100%;
   }
   .nested.dropdown .dropdown-trigger button::after {
   }
   .nested-dropdown .dropdown-trigger button {
      padding: 0px 0px;
      border: 0px;
      font-size: 14px;
      font-weight: 400;
   }

   @media (max-width: 767px) {
      .nested.dropdown .dropdown-menu {
         display: none;
         top: 0;
         margin-left: 0;
         position: relative;
      }

      .navbar-item.has-dropdown .nested.dropdown .navbar-link::after {
         transform: rotate(-45deg);
      }
   }
</style>
