<nav
  x-data="initNavbar()"
  x-on:scroll.window="scroll()"
  id="navbar-clone"
  class="navbar is-fresh is-transparent"
  role="navigation"
  aria-label="main navigation"
  :class="{
  'is-active': scrolled,
  '': !scrolled
}"
>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://cssninja.io">
        <img src="/img/logo/believe-cleaning-logo_trans.webp" alt="" width="200" height="60" />
      </a>

      <div class="navbar-burger" @click="openMobileMenu()">
        <span class="menu-toggle">
          <span
            class="icon-box-toggle"
            :class="{
                      'active': mobileOpen,
                      '': !mobileOpen
                  }"
          >
            <span class="rotate">
              <i class="icon-line-top"></i>
              <i class="icon-line-center"></i>
              <i class="icon-line-bottom"></i>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div
      id="cloned-navbar-menu"
      class="navbar-menu is-fixed"
      :class="{
          'is-active': mobileOpen,
          '': !mobileOpen
      }"
    >
      <div class="navbar-start">
        <a href="#" class="navbar-item is-secondary"> Home</a>
				<a href="#" class="navbar-item is-secondary"> About</a>
				<a href="#" class="navbar-item is-secondary"> Services</a>
				<a href="#" class="navbar-item is-secondary"> Pricing</a>
				<a href="#" class="navbar-item is-secondary"> FAQs</a>
				<a href="#" class="navbar-item is-secondary"> Contact</a>
        
        <a class="navbar-item">
          <span class="button signup-button secondary-btn rounded raised">
            Quote Now
          </span>
        </a>
      </div>

      <!-- <div class="navbar-end">
        
      </div> -->
    </div>
  </div>
</nav>
