<nav
  x-data="initNavbar()"
  x-on:scroll.window="scroll()"
  id="navbar-clone"
  class="navbar is-fresh is-transparent"
  role="navigation"
  aria-label="main navigation"
  :class="{
  'is-active': scrolled,
  '': !scrolled
}"
>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/logo/believe-cleaning-logo_trans.webp" alt="" width="200" height="60" />
      </a>

      <div class="navbar-burger" @click="openMobileMenu()">
        <span class="menu-toggle">
          <span
            class="icon-box-toggle"
            :class="{
                      'active': mobileOpen,
                      '': !mobileOpen
                  }"
          >
            <span class="rotate">
              <i class="icon-line-top"></i>
              <i class="icon-line-center"></i>
              <i class="icon-line-bottom"></i>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div
      id="cloned-navbar-menu"
      class="navbar-menu is-fixed"
      :class="{
          'is-active': mobileOpen,
          '': !mobileOpen
      }"
    >
      <div class="navbar-start">
        <a href="/" class="navbar-item is-secondary"> Home</a>
				<a href="/about" class="navbar-item is-secondary"> About</a>
				<div class="navbar-item has-dropdown is-hoverable" @click="dropDownServices = ! dropDownServices; console.log(dropDownServices)">
					<a class="navbar-link"> Services</a>
					<div class="navbar-dropdown" :style="dropDownServices  && {display: 'block'} ">
						<a href="/house-cleaning" class="navbar-item"> House Cleaning</a>
						<a href="/deep-cleaning" class="navbar-item"> Deep cleaning</a>
						<a href="/maid-service" class="navbar-item"> Maid Service</a>
						<a href="/move-inout-cleaning" class="navbar-item"> Move-In / Out Cleaning</a>
						<a href="/rental-cleaning" class="navbar-item"> Rental Property Cleaning</a>
						<a href="/construction-cleaning" class="navbar-item"> Post-Construction Cleaning</a>
						<a href="/event-cleaning" class="navbar-item"> Special Event Cleaning</a>
					</div>
				</div>
				<a href="/gallery" class="navbar-item is-secondary"> Gallery</a>
				<a href="/faqs" class="navbar-item is-secondary"> FAQs</a>
				<a href="/contact" class="navbar-item is-secondary"> Contact</a>
        
        <a class="navbar-item">
          <span class="button signup-button secondary-btn rounded raised">
            Quote Now
          </span>
        </a>
      </div>

      <!-- <div class="navbar-end">
        
      </div> -->
    </div>
  </div>
</nav>
