<section class="section is-medium pt-0 px-0">
   <div class="container is-fluid">
      <div class="title-wrapper has-text-centered">
         <h2 class="title is-1">Our Services</h2>
         <h3 class="subtitle is-5 is-muted">What Can We Do?</h3>
         <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
         <!-- Start Carousel -->
         <div class="service-carousel">
            <div class="item-carousel">
               <div class="feature-card is-bordered has-text-centered raised">
                  <div class="card-title">
                     <div class="image">
                        <img src="img/services/house-cleaning.webp" alt="House Cleaning" loading="lazy" />
                     </div>
                     <h3>House Cleaning Services</h3>
                  </div>
                  <div class="card-text">
                     <p class="my-4">
                        You can rely on the pressure washing experts at Believe
                        to handle all of your exterior cleaning needs. Our staff
                        is equipped with the latest technology
                     </p>
                  </div>
                  <div class="card-action">
                     <a href="/services/house-cleaning" class="button primary-btn rounded mr-2">
                        <span>Read more</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="item-carousel">
               <div class="feature-card is-bordered has-text-centered raised">
                  <div class="card-title">
                     <div class="image">
                        <img src="img/services/deep-cleaning.webp" alt="Deep Cleaning" loading="lazy"/>
                     </div>
                     <h3>Standard Deep cleaning</h3>
                  </div>
                  <div class="card-text">
                     <p class="my-4">
                        3 Bathroom cleaning<br />
                        Up to 3 bedrooms cleaning<br />
                        1 Livingroom cleaning<br />
                        Small kitchen (0 - 150 ft2)<br />
                        Up to 2 additional rooms cleaning.
                     </p>
                  </div>
                  <div class="card-action">
                     <a href="/services/deep-cleaning" class="button primary-btn rounded mr-2">
                        <span>Read more</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="item-carousel">
               <div class="feature-card is-bordered has-text-centered raised">
                  <div class="card-title">
                     <div class="image">
                        <img src="img/services/maid-service.webp" alt="Maid Service" loading="lazy" />
                     </div>
                     <h3>Maid Service</h3>
                  </div>
                  <div class="card-text">
                     <p class="my-4">
                        Let us handle the house cleaning so you can focus on
                        more important things. Then relax and enjoy the peace of
                        mind that comes with knowing that your entire<br
                        />&nbsp;
                     </p>
                  </div>
                  <div class="card-action">
                     <a href="/services/maid-service" class="button primary-btn rounded mr-2">
                        <span>Read more</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="item-carousel">
               <div class="feature-card is-bordered has-text-centered raised">
                  <div class="card-title">
                     <div class="image">
                        <img src="img/services/pressure-cleaning.webp" alt="Pressure Cleaning" loading="lazy" />
                     </div>
                     <h3>Pressure Cleaning</h3>
                  </div>
                  <div class="card-text">
                     <p class="my-4">
                        You can rely on the pressure washing experts at Believe
                        to handle all of your exterior cleaning needs. Our staff
                        is equipped with the latest technology<br />&nbsp;
                     </p>
                  </div>
                  <div class="card-action">
                     <a href="/services/pressure-cleaning" class="button primary-btn rounded mr-2">
                        <span>Read more</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="item-carousel">
               <div class="feature-card is-bordered has-text-centered raised">
                  <div class="card-title">
                     <div class="image">
                        <img src="img/services/move-cleaning.webp" alt="Move In-Out Cleaning" loading="lazy" />
                     </div>
                     <h3>Move-In / Out Cleaning</h3>
                  </div>
                  <div class="card-text">
                     <p class="my-4">
                        One of the most challenging experiences in a person's
                        life is moving. If you've ever relocated or are
                        currently doing so, you may not be surprised to learn
                        this.<br />&nbsp;
                     </p>
                  </div>
                  <div class="card-action">
                     <a href="/services/move-inout-cleaning" class="button primary-btn rounded mr-2">
                        <span>Read more</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="item-carousel">
               <div class="feature-card is-bordered has-text-centered raised">
                  <div class="card-title">
                     <div class="image">
                        <img
                           src="img/services/rental-property-cleaning.webp"
                           alt="Rental Property Cleaning"
                           loading="lazy"
                        />
                     </div>
                     <h3>Rental Property Cleaning</h3>
                  </div>
                  <div class="card-text">
                     <p class="my-4">
                        Renters try to vacate the rental home in good condition,
                        but this isn’t always possible, or they don’t perform an
                        adequate job.<br />&nbsp;<br class="is-hidden-mobile" />&nbsp;
                     </p>
                  </div>
                  <div class="card-action">
                     <a href="/services/rental-cleaning" class="button primary-btn rounded mr-2">
                        <span>Read more</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="item-carousel">
               <div class="feature-card is-bordered has-text-centered raised">
                  <div class="card-title">
                     <div class="image">
                        <img
                           src="img/services/post-construction-cleaning.webp"
                           alt="Post-Construction Cleaning"
                           loading="lazy"
                        />
                     </div>
                     <h3>Post-Construction Cleaning</h3>
                  </div>
                  <div class="card-text">
                     <p class="my-4">
                        Have you just finished a home renovation job and are now
                        faced with a cluttered mess? Having to clean up after a
                        home build can be even more stressful.<br />&nbsp;
                     </p>
                  </div>
                  <div class="card-action">
                     <a href="/services/construction-cleaning" class="button primary-btn rounded mr-2">
                        <span>Read more</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="item-carousel">
               <div class="feature-card is-bordered has-text-centered raised">
                  <div class="card-title">
                     <div class="image">
                        <img
                           src="img/services/special-event-cleaning.webp"
                           alt="Special Event Cleaning"
                           loading="lazy"
                        />
                     </div>
                     <h3>Special Event Cleaning</h3>
                  </div>
                  <div class="card-text">
                     <p class="my-4">
                        We provide residential and commercial cleaning services
                        for occasions ranging in size from significant trade
                        exhibits to intimate engagement parties.<br />&nbsp;
                     </p>
                  </div>
                  <div class="card-action">
                     <a href="/services/event-cleaning" class="button primary-btn rounded mr-2">
                        <span>Read more</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Carousel Services -->
      </div>
   </div>
</section>

<style>

   .car-text p {
      /*  */
   }

   .item-carousel {
      width: 100%;
      margin-right: 20px;
      margin-bottom: 20px;
   }
   
   .feature-card {
      height: 550px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   @media screen and (min-width: 768px) and (max-width: 1344px) {
      .item-carousel {
         width: 33%;
      }
   }
   @media screen and (min-width: 1344px) {
      .item-carousel {
         width: 25%;
      }
   }
</style>
