<section class="section" 
	data-background="img/bg-testimonials.webp"
	data-background-mobile="img/bg-testimonials-mobile.webp"
	data-position="center">
	<div class="container">
		<div class="title-wrapper has-text-centered">
			<h2 class="title is-2">Testimonials</h2>
			<h3 class="subtitle is-5 ">What People Say</h3>
			<!-- <div class="divider is-centered"></div> -->
		</div>

		<div class="testimonials content-wrapper">
			<div class="testi-carousel">
				<div class="carousel-cell">
					<figure class="testimonial">
						<span class="icon">
							<i class="iconify" data-icon="fa6-solid:quote-right"></i>
						</span>
						<blockquote>
							They came ready to work, assessed work to be done and followed instruction so well. Very professional and pleasant disposition. I had my basement cleaned, shampooed, and sanitized. This was my first time using a cleaning service; didn't think anyone else could clean as good as myself.
						</blockquote>
						<div class="author">
							<div>
								<h5>Angelica B.</h5>
								<span>Yelp</span>
							</div>
						</div>
					</figure>
				</div>
				<div class="carousel-cell">
					<figure class="testimonial">
						<span class="icon">
							<i class="iconify" data-icon="fa6-solid:quote-right"></i>
						</span>
						<blockquote>
							I needed to find a reliable company short notice and Isreal and his team were quick to respond and did an awesome thorough job! Will now use him as our regular cleaner.
						</blockquote>
						<div class="author">
							<div>
								<h5>William L.</h5>
								<span>Yelp</span>
							</div>
						</div>
					</figure>
				</div>
				<div class="carousel-cell">
					<figure class="testimonial">
						<span class="icon">
							<i class="iconify" data-icon="fa6-solid:quote-right"></i>
						</span>
						<blockquote>
							They did a great job with our move out cleaning. I am happy with their service and would not hesitate to request again.
						</blockquote>
						<div class="author">
							<div>
								<h5>Ali</h5>
								<span>Yelp</span>
							</div>
						</div>
					</figure>
				</div>
				<div class="carousel-cell">
					<figure class="testimonial">
						<span class="icon">
							<i class="iconify" data-icon="fa6-solid:quote-right"></i>
						</span>
						<blockquote>
							Thank you for your rapid response and excellent service. The most important thing is that there aren’t any complaints! Exceptional workers! Definitely a firm I would recommend to anyone!
						</blockquote>
						<div class="author">
							<div>
								<h5>David Joseph</h5>
								<!-- <span>HR Manager</span> -->
							</div>
						</div>
					</figure>
				</div>
				<div class="carousel-cell">
					<figure class="testimonial">
						<span class="icon">
							<i class="iconify" data-icon="fa6-solid:quote-right"></i>
						</span>
						<blockquote>
							There’s nothing but praise for the company’s owner and employees. Both their client service and the quality of their work are exceptional. If you’re in need of commercial cleaning services, I strongly recommend this company.
						</blockquote>
						<div class="author">
							<div>
								<h5>Scarlett Aiden</h5>
								<!-- <span>HR Manager</span> -->
							</div>
						</div>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	// import { Flickity } from '../js/libs/flickity.pkgd.min.js'

	// var flkty = new Flickity(".testi-carousel", {
	// 	draggable: true,
	// 	contain: true,
	// 	freeScroll: true,
	// 	pageDots: false
   //    // wrapAround: true,
	// });
</script>


<style>
	.carousel-cell {
		width: 100%;
	}

	/* @media screen and (min-width: 768px) {
      .carousel-cell {
         width: 100%;
      }
   } */
</style>
